body{
    background-image: url("../assets/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}


/* COUNTER */
#counter {
    position: absolute;
    left: 50%;
    top: 10%;
    translate: -50% -50%;
    background-color: black;
    font-size:xx-large;
    color: yellow;
    border-color: black;
    border-radius: 10cm;
    border-width: 1cm;
}

/* BUTTON */
button{
    position: absolute;
    left: 50%;
    top: 40%;
    translate: -50% -50%;
    display: block;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 1px solid rgb(219, 216, 26);
}

.buttonElement {
    display: inherit;
    height: inherit;
    width: inherit;
}